#
#	hl configuration file : C syntax
#	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#
#	@(#)	[MB] eh_hl_C.cfg	Version 1.1 du 20/05/01 - 
#
#	Just for fun : C syntax, close to vim's
#

C              :
     -e
     -%c '/\*'
     -.  '\*/'
     -g  '\<(void|bool|char|int|long|unsigned|float|double|struct|enum)\>'
     -y  '\<(sizeof|switch|case|default|for|while|if|else|[0-9]|stderr|stdout)\>'
     -m  '(\\n|\\r|\\b)'
     -y  '".*"'
     -m  '^[ 	]*#[a-zA-Z]+'
     -y  '^[ 	]*#include[ 	]+(<.*>|".*")'

