#
#	hl configuration file : Lustre
#	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#
#	@(#)	[MB] eh_hl_lustre.cfg	Version 1.3 du 22/01/10 - 
#

Lustre	:
	-ei
	-2R '.*LustreError:.*'
	-1R '.* LNet:.*'
	-3y '.* Lustre:.*'
	-3r '(.*(error|fail).*)'
	-3y '.*warn.*'
	-3m '.* not ready.*'
	-3g '.* becomes ready'
