Source: hl
Section: utils
Priority: optional
Maintainer: Martial Bornet <mbornet.pro@wanadoo.fr>
Build-Depends: debhelper (>= 11), gcc, make, flex
Standards-Version: 4.5.1
Homepage: https://github.com/mbornet-hl/hl

Package: hl
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, bash-completion
Description: Highlight (colorize) text data using regular expressions
 hl is a C program able to colorize commands output or text files
 according to regular expressions.

